@{
    ViewBag.Title = "Home Page";
}

<section class="hero">
    <div class="hero__sliders owl-carousel">
        <div class="hero__items set-bg" data-setbg="/Content/img/hero/hero-1.jpeg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="hero__text">
                            <span>Welcome to</span>
                            <h2>
                                Yoga Class NerPinglai
                            </h2>
                            <a href="#" class="primary-btn">DISCOVER MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__items set-bg" data-setbg="/Content/img/hero/hero-2.jpeg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="hero__text">
                            <span>Welcome to</span>
                            <h2>
                                Yoga Class NerPinglai
                            </h2>
                            <a href="#" class="primary-btn">DISCOVER MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About Section Begin -->
<section class="home-about spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="home__about__pic">
                    <div class="home__about__pic__item large-item set-bg" data-setbg="/Content/img/about/about-1.jpeg"></div>
                    <div class="home__about__pic__item">
                        <div class="home__about__pic__item__inner set-bg" data-setbg="/Content/img/about/about-2.jpeg"></div>
                        <div class="home__about__pic__item__inner set-bg" data-setbg="/Content/img/about/about-3.jpeg"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="home__about__text">
                    <div class="section-title">
                        
                        <h2>योग म्हणजे काय?</h2>
                    </div>

                    <p>
                        <b>
                            म्योग हा शब्द 'युज' या संस्कृत धातू पासून बनलेला आहे, ज्याचा अर्थ आहे आत्म्याचे परमात्म्यात विलीन होणे. योग ही भारतातील पांच हजार वर्ष प्राचीन ज्ञानशैली आहे. पुष्कळ लोकांचा असा समज आहे की योगाभ्यास म्हणजे शारीरिक व्यायाम आहे, ज्यात शरीर ताणले, वाकवले, पिळले जाते आणि अवघड श्वसन प्रक्रियांचा अवलंब केला जातो. खरेतर मानवी मन आणि आत्मा यांची अनंत क्षमता जाणून घेणाऱ्या या विज्ञानाची ही म्हणजे योगाभ्यासाची केवळ वरवरची ओळख झाली. योगाभ्यासामध्ये जीवनशैलीचा परिपूर्ण सारांश प्राप्त होतो.

                            गुरुदेव श्री श्री रविशंकर म्हणतात, “योग म्हणजे निव्वळ व्यायाम आणि आसन नव्हे. हा भावनात्मक समतोल आणि त्या अनादी अनंत तत्वाला स्पर्श करत अध्यात्मिक प्रगतीतील सर्व शक्यतांची ओळख करून देणारे शास्त्र आहे.”
                        </b>
                    </p>

                    <a href="#" class="primary-btn">MORE ABOUT US</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section End -->